.input-group no-border .el-button:focus, .el-button:hover, .el-button:active{
    color: #9c27b0 !important;
    border-color: #e5c6ff !important;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.sidebar .nav p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
