<script setup>
import DashboardLayout from '@/Components/DashboardLayout.vue'
import MainContent from '@/Components/MainContent.vue'
</script>
<template>
        <dashboard-layout>
            <div class="content">
                <main-content/>
            </div>
        </dashboard-layout>
</template>

<script>

</script>

<style></style>
