<template>
    <div class="component">
        <template>
            <button @click="$emit('counterEvent')">Click Me</button>
        </template>
    </div>
</template>

<script>
export default{
    props:['age'],
    methods: {

    }
}
</script>
