<template>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    aria-controls="navigation-index"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="sr-only">Toggle navigation</span>
    <span class="navbar-toggler-icon icon-bar"></span>
    <span class="navbar-toggler-icon icon-bar"></span>
    <span class="navbar-toggler-icon icon-bar"></span>
  </button>
</template>

<script>
export default {};
</script>

<style></style>
