<script setup>
import { computed, ref } from "vue";
import { useMainStore } from "../../stores/main";
import ControlIcon from "@/Components/ControlIcon.vue";
import { Search } from "@element-plus/icons-vue";

const props = defineProps({
  name: {
    type: String,
    default: null,
  },
  id: {
    type: String,
    default: null,
  },
  value: {
    type: String,
    default: null,
  },
  autocomplete: {
    type: String,
    default: null,
  },
  icon: {
    type: String,
    default: null,
  },
  options: {
    type: Array,
    default: null,
  },
  type: {
    type: String,
    default: "text",
  },
  modelValue: {
    type: [String, Number, Boolean, Array, Object],
    default: "",
  },
  required: Boolean,
  borderClass: Boolean,
  transparent: Boolean,
  crtlKFocus: Boolean,
});

const emit = defineEmits(["update:modelValue"]);

const computedValue = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit("update:modelValue", value);
  },
});
const inputElClass = computed(() => {
  const base = [
    "px-3 py-2 max-w-full focus:ring focus:outline-none rounded w-full",
    computedType.value === "textarea" ? "h-24" : "h-10",
    // props.borderless ? 'border-0' : 'border-0',
    props.transparent ? "bg-transparent" : "bg-white dark:bg-gray-800",
  ];

  if (props.icon) {
    base.push("pl-10");
  }

  return base;
});

const computedType = computed(() => (props.options ? "select" : props.type));

const controlIconH = computed(() => (props.type === "textarea" ? "h-full" : "h-12"));

const mainStore = useMainStore();
const inputEl = ref(null);
</script>
<template>
    <div>
        <el-select
            v-if="computedType === 'select'"
            :id="id"
            v-model="computedValue"
            :name="name"
            :class="inputElClass"
            class="m-2"
            size="large"
        >
            <el-option
            v-for="item in options"
            :key="item.id ?? item"
            :label="item.label ?? item"
            :value="item.value"
            />
        </el-select>
        <textarea
            v-else-if="computedType === 'textarea'"
            :id="id"
            v-model="computedValue"
            :class="inputElClass"
            :name="name"
            :placeholder="placeholder"
            :required="required"
        />
        <input
            v-else
            :id="id"
            :name="name"
            ref="inputEl"
            v-model="computedValue"
            :autocomplete="autocomplete"
            :required="required"
            :type="computedType"
            :class="inputElClass"
            :transparent="transparent"
            class="form-control"
        />
        <control-icon v-if="icon" :icon="icon" :h="controlIconH" />
        <el-button v-if="route().current() == 'admin.dashboard'" :icon="Search" style="height: 42px; width: 42px" circle />
  </div>
</template>

<script>
export default {};
</script>

<style>
[type="text"]:focus,
[type="password"]:focus,
[type="email"]:focus {
  --tw-ring-shadow: none !important;
  box-shadow: none;
}
</style>
