<script setup>
import AppNavbar from "@/Layouts/AppNavbar";
import AppSidebar from "@/Layouts/AppSidebar";
import Setting from "@/Components/Setting";
import AppFooter from "@/Layouts/AppFooter";
import MainSection from "@/Components/MainSection";
</script>
<template>
    <main-section>
        <!-- Sidebar -->
        <app-sidebar/>
        <!-- End Sidebar -->
        <div class="main-panel">
        <!-- Navbar -->
            <app-navbar />
        <!-- End Navbar -->
            <slot/>
        <!-- Footer -->
            <app-footer />
        <!-- End Footer -->
        </div>

        <setting />
    </main-section>
</template>

<script>
export default {

}
</script>

<style>

</style>
