<script setup>
import { computed, useSlots } from 'vue'

defineProps({
    label: {
        type: String,
        default: null
    },
    help: {
        type: String,
        default: null
    }
})

const slots = useSlots()

const wrapperClass = computed(() => {
    const base = []
    const slotsLength = slots.default().length

    if(slotsLength > 1){
        base.push('grid grid-cols-1 gap-3')
    }

    if(slotsLength === 2){
        base.push('md:grid-cols-2')
    }
    return base
})
</script>
<template>
    <div class="form-group has-default">
        <div class="input-group">
            <label v-if="label" class="input-group-prepend w-40">
                <span class="input-group-text">
                   {{label}}
                </span>
            </label>
            <div :class="wrapperClass" class="w-full"> <slot> </slot></div>
        </div>
    </div>
    <div
        v-if="help"
        class="text-base text-red-600 dark:text-red-400 mt-1 font-medium flex"
    >
        <span class="w-32"></span>
        <span> {{help}} </span>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
