<script setup>
import { computed } from "vue";
import { useMainStore } from "../../stores/main";
import {
  sectionBgLogin,
  sectionBgLoginDark,
  sectionBgRegister,
  sectionBgRegisterDark,
} from "@/Mixins/colors";
import MainSection from "@/Components/MainSection";

const props = defineProps({
  bg: {
    type: String,
    required: true,
    validator: (value) => ["register", "login", "error"].includes(value),
  },
});

const mainStore = useMainStore();

const darkMode = computed(() => mainStore.darkMode);
const colorClass = computed(() => {
  switch (props.bg) {
    case "login":
      return darkMode.value ? sectionBgLoginDark : '';
    case "register":
      return darkMode.value ? sectionBgRegisterDark : '';
  }

  return "";
});
</script>

<template>
    <main-section class="" :class="colorClass">
        <slot card-class="" card-rounded="rounded-lg" />
    </main-section>
</template>
