<template>
    <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title">Sidebar Filters</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger active-color">
            <div class="badge-colors ml-auto mr-auto">
              <span class="badge filter badge-purple" data-color="purple"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-warning" data-color="orange"></span>
              <span class="badge filter badge-danger" data-color="danger"></span>
              <span class="badge filter badge-rose active" data-color="rose"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="ml-auto mr-auto">
              <span
                class="badge filter badge-black active"
                data-background-color="black"
              ></span>
              <span class="badge filter badge-white" data-background-color="white"></span>
              <span class="badge filter badge-red" data-background-color="red"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger">
            <p>Sidebar Mini</p>
            <label class="ml-auto">
              <div class="togglebutton switch-sidebar-mini">
                <label>
                  <input type="checkbox" />
                  <span class="toggle"></span>
                </label>
              </div>
            </label>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger">
            <p>Sidebar Images</p>
            <label class="switch-mini ml-auto">
              <div class="togglebutton switch-sidebar-image">
                <label>
                  <input type="checkbox" checked="" />
                  <span class="toggle"></span>
                </label>
              </div>
            </label>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Images</li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <!-- <img src="../assets/img/sidebar-1.jpg" alt="" /> -->
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <!-- <img src="../assets/img/sidebar-2.jpg" alt="" /> -->
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <!-- <img src="../assets/img/sidebar-3.jpg" alt="" /> -->
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <!-- <img src="../assets/img/sidebar-4.jpg" alt="" /> -->
          </a>
        </li>
        <li class="button-container">
          <a
            href="https://www.creative-tim.com/product/material-dashboard-pro"
            target="_blank"
            class="btn btn-rose btn-block btn-fill"
            >Buy Now</a
          >
          <a
            href="https://demos.creative-tim.com/material-dashboard-pro/docs/2.1/getting-started/introduction.html"
            target="_blank"
            class="btn btn-default btn-block"
          >
            Documentation
          </a>
          <a
            href="https://www.creative-tim.com/product/material-dashboard"
            target="_blank"
            class="btn btn-info btn-block"
          >
            Get Free Demo!
          </a>
        </li>
        <li class="button-container github-star">
          <a
            class="github-button"
            href="https://github.com/creativetimofficial/ct-material-dashboard-pro"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            aria-label="Star ntkme/github-buttons on GitHub"
            >Star</a
          >
        </li>
        <li class="header-title">Thank you for 95 shares!</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-twitter">
            <i class="fa fa-twitter"></i> &middot; 45
          </button>
          <button id="facebook" class="btn btn-round btn-facebook">
            <i class="fa fa-facebook-f"></i> &middot; 50
          </button>
          <br />
          <br />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
