<script setup>
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import DashboardLayout from "@/Components/DashboardLayout";
import CardComponent from "@/Components/CardComponent.vue";
import Field from "@/Components/Field.vue";
import Control from "@/Components/Control.vue";
import Divider from "@/Components/Divider.vue";
import JbButton from "@/Components/JbButton.vue";
import JbButtons from "@/Components/JbButtons.vue";


</script>
<template>
  <dashboard-layout>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                  <i class="far fa-user text-2xl"></i>
                </div>
                <h4 class="card-title">
                  Edit Profile -
                  <small class="category">Complete your profile</small>
                </h4>
              </div>

              <div class="card-body">
                <card-component form @submit.prevent="submit" v-if="$page.props">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <field label="Email" class="bmd-label-floating">
                          <control
                            class="form-control"
                            autocomplete="email"
                            placeholder="Email"
                            :modelValue="$page.props.user.email"
                            v-model="form.email"
                          />
                        </field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <p>ID: {{ $page.props.user.id }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <field label="Firstname" class="bmd-label-floating">
                          <control
                            class="form-control"
                            autocomplete="first_name"
                            placeholder="Firstname"
                            :modelValue="$page.props.user.first_name"
                            v-model="form.first_name"
                          ></control>
                        </field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <field label="Lastname" class="bmd-label-floating">
                          <control
                            class="form-control"
                            autocomplete="last_name"
                            placeholder="Lastname"
                            :modelValue="$page.props.user.last_name"
                            v-model="form.last_name"
                          ></control>
                        </field>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <field label="Address" class="bmd-label-floating">
                          <control
                            class="form-control"
                            autocomplete="address"
                            placeholder="Address"
                            :modelValue="$page.props.user.address"
                            v-model="form.address"
                          ></control>
                        </field>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <field label="City" class="bmd-label-floating">
                          <control
                            class="form-control"
                            autocomplete="address_1"
                            placeholder="City"
                            :modelValue="$page.props.user.address_1"
                            v-model="form.address_1"
                          ></control>
                        </field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <field label="Country" class="bmd-label-floating">
                          <control
                            class="form-control"
                            autocomplete="address_2"
                            placeholder="Country"
                            :modelValue="$page.props.user.address_2"
                            v-model="form.address_2"
                          ></control>
                        </field>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <field label="Postal Code" class="bmd-label-floating">
                          <control
                            class="form-control"
                            autocomplete="zip_code"
                            placeholder="Postal Code"
                            :modelValue="$page.props.user.zip_code"
                            v-model="form.zip_code"
                          ></control>
                        </field>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="card card-login card-hidden">
                      <div class="card-footer justify-content-center">
                        <jb-buttons>
                          <jb-button
                            type="submit"
                            color="info"
                            label="Update Profile"
                            class="btn btn-rose pull-right p-0"
                          />
                          <div class="clearfix"></div>
                        </jb-buttons>
                      </div>
                    </div>
                  </div>
                </card-component>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <!-- <img class="img" src="../../assets/img/faces/marc.jpg" /> -->
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                <h4 class="card-title">Alec Thompson</h4>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human
                  foundation in truth And I love you like Kanye loves Kanye I love Rick
                  Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  methods: {
    submit() {
      this.form.post(route('amin.user_profile.edit'))
    },

  },
};
</script>

<style></style>
