<script setup>
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import Bar from "@/Components/Bar";
import Control from "@/Components/Control";
const form = useForm({
  search: "",
});
</script>
<template>
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container">
      <div class="navbar-wrapper">
        <Link
          v-if="$page.url.includes('admin/register')"
          class="navbar-brand"
          :href="route('admin.register')"
          >Register Page
        </Link>
        <Link
          v-if="$page.url.includes('admin/login')"
          class="navbar-brand"
          :href="route('admin.login')"
          >Login Page
        </Link>
      </div>
      <bar />
      <div class="collapse navbar-collapse justify-content-end">
        <card-component
          v-if="!$page.url.includes('admin/login') && !$page.url.includes('admin/register')"
          class="navbar-form"
          :class="cardClass"
          form
          @submit.prevent="submit"
        >
          <div class="input-group no-border">
            <control v-model="form.search" transparent placeholder="Search" class="flex" />
          </div>
        </card-component>
        <ul class="navbar-nav" v-if="$page.url.includes('admin/login') || $page.url.includes('admin/register')">
          <li
            v-for="navbar in navbars"
            :key="navbar.id"
            :class="[
              'nav-item',
              parseSubmenu([navbar.link] || []).includes($page.url) ? 'active' : '',
            ]"
          >
            <Link :href="navbar.link" class="nav-link">
                <fa :icon="navbar.icon" size="lg"/>
              {{ navbar.title }}
            </Link>
          </li>
        </ul>
        <ul class="navbar-nav" v-else>
          <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <fa icon="grip-horizontal" size="lg"></fa>
              <p class="d-lg-none d-md-block">Stats</p>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="http://example.com/"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <fa icon="bell" size="lg"></fa>
              <span class="notification">5</span>
              <p class="d-lg-none d-md-block">Some Actions</p>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a class="dropdown-item" href="#">Mike John responded to your email</a>
              <a class="dropdown-item" href="#">You have 5 new tasks</a>
              <a class="dropdown-item" href="#">You're now friend with Andrew</a>
              <a class="dropdown-item" href="#">Another Notification</a>
              <a class="dropdown-item" href="#">Another One</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#pablo"
              id="navbarDropdownProfile"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <fa icon="user" size="lg"></fa>
              <p class="d-lg-none d-md-block">Account</p>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownProfile"
            >
              <Link class="dropdown-item" :href="route('admin.user_profile.index')"
                >Profile</Link
              >
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <Link class="dropdown-item" :href="route('admin.logout')">Log out</Link>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      navbars: [
        {
          title: "Register",
          link: route("admin.register"),
          icon: "user-plus",
        },
        {
          title: "Login",
          link: route("admin.login"),
          icon: "fingerprint",
        },
      ],
      prefixMenu: "",
    };
  },
  created() {
    this.prefixMenu = window.location.pathname;
  },
  methods: {
    parseSubmenu(subMenus) {
      return (subMenus || []).map((item) => {
        try {
          return new URL(item).pathname;
        } catch (error) {
          return item;
        }
      });
    },
  },
};
</script>

<style></style>
