<script setup>
import { Link } from '@inertiajs/inertia-vue3';
import MainSection from "@/Components/MainSection";
import { useEcommerceMenu, useReportMenu, useOtherMenu, useDashboardMenu , useSettingMenu} from '@/Composables/menu'

</script>
<template>
  <main-section>
    <div
      class="sidebar"
      data-color="rose"
      data-background-color="black"
      data-image="{{ asset('assets/img/sidebar-1.jpg') }}"
    >
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com/" class="simple-text logo-mini"> CT </a>
        <a href="http://www.creative-tim.com/" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
      <el-scrollbar class="sidebar-wrapper">
        <div class="user">
          <div class="photo">
            <!-- <img src="../assets/img/faces/avatar.jpg" /> -->
          </div>
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                Xin chào {{ $page.props.user.first_name }} {{ $page.props.user.last_name }}
                <!-- <b class="caret"></b> -->
              </span>
            </a>
          </div>
        </div>
        <ul class="nav">
          <template v-for="menu in menus"
                :key="menu.id">

            <li
                :class="['nav-item', parseSubmenu([menu.link] || []).includes($page.url) ? 'active' : '']"
                >
                <a
                :href="[ menu.child ? '#' + menu.name : '']"
                class="nav-link flex items-center justify-between"
                :data-toggle="menu.child ? 'collapse' : ''">
                    <fa :icon="menu.icon" size="lg"/>
                    <p class="w-full ml-4">
                        {{ menu.name }}
                        <fa icon="caret-down" size="lg" v-if="menu.child"></fa>
                    </p>
                </a>
                <div class="collapse" :id="menu.name" v-if="menu.child">
                    <ul class="nav">
                        <li class="nav-item"
                            v-for="submenu in menu.child"
                            :key="submenu.id">
                            <Link class="nav-link" :href="submenu.link"
                            :class="{ 'active': checkCaseMenuActive(submenu.link, $page.url) }"
                            >
                            <span class="sidebar-mini"> {{ submenu.mini_name }} </span>
                            <span class="sidebar-normal ml-4"> {{ submenu.name }} </span>
                            </Link>
                        </li>
                    </ul>
                </div>
            </li>
          </template>
          </ul>
      </el-scrollbar>
    </div>
  </main-section>
</template>

<script>
export default {
  data(){
    return {
      locationOrigin: '',
      prefixMenu: '',
    }
  },
  created() {
    this.prefixMenu = window.location.pathname
  },
    computed:{
      user() {
        return this.$page?.props?.auth?.user
      },
      menus() {
        const type = this.$page?.admin?.type

        let menus = [
          {
            icon: 'users',
            name: 'Dashboard',
            line: true,
            link: route('admin.dashboard')
          },
          {
            icon: 'parking',
            mini_name: 'P',
            name: 'Product',
            child: [
                {
                    mini_name: 'Q',
                    name: 'Quản lý sản phẩm',
                    link: route('admin.products.index'),
                },
                {
                    mini_name: 'Q',
                    name: 'Quản lý danh mục sản phẩm',
                    // link: route('admin.products.index'),
                },
                {
                    mini_name: 'Q',
                    name: 'Quản lý tag sản phẩm',
                    // link: route('admin.products.index'),
                },
            ],
          },
          {
              mini_name: 'S',
              name: 'Size',
              child: [
                {
                    mini_name: 'S',
                    name: 'Quản lý sizes',
                    // link: route('admin.products.index'),
                },
              ],
          },
        ]
        const EcommerceMenu = this.filterMenuAllow(useEcommerceMenu().value)
        if (EcommerceMenu.length > 0) {
          menus = [
            ...menus,
            {
              mini_name: 'P',
              name: 'Product',
              link: route('admin.products.index'),
              child: EcommerceMenu,
            },
          ]
        }

        // const reportMenu = this.filterMenuAllow(useReportMenu().value)
        // if (reportMenu.length > 0) {
        //   menus = [
        //     ...menus,
        //     {
        //       name: 'レポーティング',
        //       child: reportMenu,
        //     },
        //   ]
        // }

        // const otherMenu = this.filterMenuAllow(useOtherMenu().value)
        // if (otherMenu.length > 0) {
        //   menus = [
        //     ...menus,
        //     {
        //       name: 'エンタープライズ向け',
        //       child: otherMenu,
        //     },
        //   ]
        // }

        // const accountMenu = this.filterMenuAllow(useAccountMenu().value)
        // if (accountMenu.length > 0) {
        //   menus = [
        //     ...menus,
        //     {
        //       name: 'アカウント管理',
        //       child: accountMenu,
        //     },
        //   ]
        // }
        // const settingMenu = this.filterMenuAllow(useSettingMenu().value)
        // if (settingMenu.length > 0) {
        //   menus = [
        //     ...menus,
        //     {
        //       name: '設定',
        //       child: settingMenu,
        //     },
        //   ]
        // }
        return menus
      },

    },
    methods: {
      filterMenuAllow(menus, key = 'isAllow') {
      return menus.filter((item) => item[key])
    },
      parseSubmenu(subMenus) {
      return (subMenus || []).map((item) => {
        try {
          return new URL(item).pathname
        } catch (error) {
          return item
        }
      })
    },
    checkActiveMenuByPrefix(menu) {
      return menu.link.includes(this.prefixMenu)
    },
    checkCaseMenuActive(submenuLink, pageUrl) {
      if (
        submenuLink == window.location.origin + pageUrl
        // (submenuLink == window.location.origin + '/post' && pageUrl.includes('/post/analytic')) ||
        // (submenuLink == window.location.origin + '/group-post-manage' && pageUrl.includes('/group-post-manage')) ||
        // (submenuLink == window.location.origin + '/group-list' && pageUrl.includes('/group-analysis')) ||
        // (submenuLink == window.location.origin + '/group-post-manage' && pageUrl.includes('/post-group/analytic'))||
        // (submenuLink == window.location.origin + '/fb-advertises' && pageUrl.includes('/advertise-analysis/detail')) ||
        // (submenuLink == window.location.origin + '/fb-advertises' && pageUrl.includes('/post-advertisment'))||
        // (submenuLink == window.location.origin + '/group-list' && pageUrl.includes('/group-list/create'))
      ) {
        return true
      } else {
        return false
      }
    },
    }
};
</script>

<style></style>
