<script setup>
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
// import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue';
// import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue';
// import JetButton from '@/Jetstream/Button.vue';
// import JetInput from '@/Jetstream/Input.vue';
// import JetCheckbox from '@/Jetstream/Checkbox.vue';
// import JetLabel from '@/Jetstream/Label.vue';
// import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';
import FullScreenSection from "@/Components/FullScreenSection.vue";
import CardComponent from "@/Components/CardComponent.vue";
import Field from "@/Components/Field.vue";
import Control from "@/Components/Control.vue";
import Divider from "@/Components/Divider.vue";
import JbButton from "@/Components/JbButton.vue";
import JbButtons from "@/Components/JbButtons.vue";
import AppNavbar from "@/Layouts/AppNavbar.vue";
import MainSection from "@/Components/MainSection.vue";

const form = useForm({
  email: "",
  password: "",
});
</script>

<template>
  <main-section class="wrapper wrapper-full-page">
    <!-- Navbar -->
    <app-navbar class="text-white" />
    <!-- End Navbar -->
    <full-screen-section v-slot="{ cardClass }" bg="login">
      <div
        class="page-header login-page header-filter"
        filter-color="black"
        style="
          background-image: url('../../assets/img/login.jpg');
          background-size: cover;
          background-position: top center;
        "
      >
        <card-component :class="cardClass" form @submit.prevent="submit" class="login">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <div class="card card-login card-hidden">
                  <div class="card-header card-header-rose text-center">
                    <h4 class="card-title">Login</h4>
                    <div class="social-line">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-description text-center">Or Be Classical</p>
                    <span class="bmd-form-group">
                      <field
                        label="Email"
                        :help="form.errors.email ? form.errors.email[0] : ''"
                      >
                        <control
                          v-model="form.email"
                          autocomplete="email"
                          placeholder="Email"
                        ></control>
                      </field>
                    </span>
                    <span class="bmd-form-group">
                      <field
                        label="Password"
                        :help="form.errors.password ? form.errors.password[0] : ''"
                      >
                        <control
                          v-model="form.password"
                          type="password"
                          autocomplete="current-password"
                          placeholder="Password"
                        ></control>
                      </field>
                    </span>
                  </div>
                  <div class="card-footer justify-content-center">
                    <jb-buttons>
                      <jb-button
                        type="submit"
                        color="info"
                        label="Login"
                        class="btn btn-primary btn-round mt-4"
                      />
                    </jb-buttons>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </card-component>
      </div>
    </full-screen-section>
  </main-section>
</template>
<script>
export default {
  methods: {
    submit() {
      this.form
        .post(route("admin.login.post"));
    },
  },
};
</script>
