<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue';
import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue';
import JetButton from '@/Jetstream/Button.vue';
import JetInput from '@/Jetstream/Input.vue';
import JetCheckbox from '@/Jetstream/Checkbox.vue';
import JetLabel from '@/Jetstream/Label.vue';
import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';

import FullScreenSection from '@/Components/FullScreenSection.vue';
import CardComponent from '@/Components/CardComponent.vue'
import Field from '@/Components/Field.vue'
import Control from '@/Components/Control.vue'
import Divider from '@/Components/Divider.vue'
import JbButton from '@/Components/JbButton.vue'
import JbButtons from '@/Components/JbButtons.vue'
import AppNavbar from '@/Layouts/AppNavbar.vue';
import MainSection from '@/Components/MainSection.vue';



</script>

<template>
    <main-section>
        <!-- Navbar -->
    <app-navbar class="text-white"/>
    <!-- End Navbar -->
    <full-screen-section v-slot="{ cardClass, cardRounded }" bg="register">
        <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('../../assets/img/register.jpg')">
            <div class="container">
                    <div class="row">
                        <card-component :class="cardClass" :rounded="cardRounded" form @submit.prevent="submit" class="register">

                                <div class="ml-auto mr-auto">
                                    <div class="card card-signup">
                                    <h2 class="card-title text-center">Register</h2>
                                    <div class="card-body">
                                        <div class="row">
                                        <div class="col-md-5 ml-auto">

                                        </div>
                                        <div class="col-md-5 mr-auto">
                                            <div class="social text-center">
                                            <button class="btn btn-just-icon btn-round btn-twitter">
                                                <i class="fa fa-twitter"></i>
                                            </button>
                                            <button class="btn btn-just-icon btn-round btn-dribbble">
                                                <i class="fa fa-dribbble"></i>
                                            </button>
                                            <button class="btn btn-just-icon btn-round btn-facebook">
                                                <i class="fa fa-facebook"> </i>
                                            </button>
                                            <h4 class="mt-3"> or be classical </h4>
                                            </div>

                                                <field label="Firstname" :help="form.errors.first_name ? form.errors.first_name[0] : ''">
                                                    <control v-model="form.first_name" autocomplete="firstname" placeholder="Firstname"></control>
                                                </field>

                                                <field label="Lastname" :help="form.errors.last_name ? form.errors.last_name[0] : ''">
                                                    <control v-model="form.last_name" autocomplete="lastname" placeholder="Lastname"></control>
                                                </field>

                                                <field label="Email" :help="form.errors.email ? form.errors.email[0] : ''">
                                                    <control v-model="form.email" autocomplete="email" placeholder="Email"></control>
                                                </field>

                                                <field label="Password" :help="form.errors.password ? form.errors.password[0] : ''">
                                                    <control v-model="form.password" type="password" autocomplete="current-password" placeholder="Password"></control>
                                                </field>

                                                <field label="Confirm Password" :help="form.errors.confirm_password ? form.errors.confirm_password[0] : ''">
                                                    <control v-model="form.confirm_password" type="password" autocomplete="Confirm password" placeholder="Confirm password"></control>
                                                </field>


                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                    I agree to the
                                                    <a href="#something">terms and conditions</a>.
                                                    </label>
                                                </div>
                                                <divider />

                                                <div class="text-center">
                                                    <jb-buttons>
                                                        <jb-button
                                                            type="submit"
                                                            color="info"
                                                            label="Register" class="btn btn-primary btn-round mt-4"
                                                        />
                                                    </jb-buttons>
                                                    <!-- <a href="#pablo" class="btn btn-primary btn-round mt-4">Get Started</a> -->
                                                </div>

                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>


                        </card-component>
                </div>
            </div>
        </div>
    </full-screen-section>
    </main-section>


</template>
<script>
export default{
    data(){
        return {
            form: useForm({
                first_name: '',
                last_name: '',
                email: '',
                password: '',
                confirm_password: '',
            }),
        }
    },
    methods: {
        submit(){
            this.form
                .transform((data) => ({
                    ...data,
                    // remember: data.remember ? 'on' : '',
                }))
                .post(route('admin.register.post'))

        }
    },


}
</script>
